.profile_button_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-2);
  align-items: flex-start;
  align-content: flex-start;
  padding-right: var(--space-2);

  > .profile_button {
    flex: 1 0 auto;
  }
}
