$more-btn-width: 80px;

.container {
  display: flex;
  align-items: center;
  overflow: hidden;

  &.hidden {
    visibility: hidden;
  }

  > .item {
    flex: 0 0 auto;
  }

  > .more {
    flex: 0 0 auto;
    width: $more-btn-width;
  }
}

.measure {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  width: max-content;

  > .item {
    flex: 0 0 auto;
  }

  > .moreMeasure {
    width: $more-btn-width;
  }
}

.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 48px);
  padding: var(--space-4);
  border-radius: var(--border-radius);
  background: var(--layout-bg-color);
  border: solid 1px var(--border-color);
  -webkit-box-shadow: var(--control-box-shadow);
  -moz-box-shadow: var(--control-box-shadow);
  box-shadow: var(--control-box-shadow);
  z-index: var(--z-index-popup);
  overflow-y: auto;
  overflow-x: hidden;

  > .dropdownItem {
    padding: var(--space-2) var(--space-4);
    cursor: pointer;
  }
}
