$more-btn-min-width: 80px;

.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-start;

  &.loading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc($more-btn-min-width * 2);
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--container-bg-color) 50%
    );
  }

  > .item {
    flex: 0 0 auto;
  }

  > .more {
    flex: 1;
    min-width: $more-btn-min-width;
    height: 100%;
    min-height: var(--control-height);
    padding: 0;
  }
}

.measure {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  width: max-content;

  > .item {
    flex: 0 0 auto;
  }

  > .moreMeasure {
    width: $more-btn-min-width;
  }
}

.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 48px);
  padding: var(--space-4);
  border-radius: var(--border-radius);
  background: var(--layout-bg-color);
  border: solid 1px var(--border-color);
  -webkit-box-shadow: var(--control-box-shadow);
  -moz-box-shadow: var(--control-box-shadow);
  box-shadow: var(--control-box-shadow);
  z-index: var(--z-index-popup);
  overflow-y: auto;
  overflow-x: hidden;

  > .dropdownItem {
    padding: var(--space-2) var(--space-4);
    cursor: pointer;
    
    > * {
      width: 100%;
    }
  }
}
