.figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--padding);

	border-block: 1px solid var(--border-color);
	padding-block: var(--padding);
	margin-bottom: var(--padding);
}

.caption {
	text-align: center;
	font-size: 0.9rem;
	color: var(--text-muted);
	max-width: 70ch;
}