$box-shadow: 0px 0px 4px 0px var(--primary-color);
$box-shadow-active: 0px 0px 4px 2px var(--primary-color);

.button {
	font-size: var(--text-font-size);
	font-weight: 500;
	padding: var(--padding-sm);
	cursor: pointer;
	color: var(--text-color);

	&:not(.active) {
		-webkit-box-shadow: $box-shadow;
		-moz-box-shadow: $box-shadow;
		box-shadow: $box-shadow;
	}

	&.active {
		-webkit-box-shadow: $box-shadow-active;
		-moz-box-shadow: $box-shadow-active;
		box-shadow: $box-shadow-active;
		border-color: var(--primary-color) !important;
	}

	&.default {
		border: solid 1px var(--border-color);
		border-radius: var(--border-radius);
		background-color: transparent;
	}

	&.text {
		border: none;
	}

	&.primary {
		background-color: var(--primary-color);
		border: solid 1px var(--primary-border-color);
		border-radius: var(--border-radius);
		color: var(--primary-contrast-color);
	}

	&.animated {
		filter: drop-shadow(0 0 0.15rem var(--primary-color));
		animation: pulse 1500ms infinite alternate;
	}

	@keyframes pulse {
		0% {
			filter: drop-shadow(0 0 0.0rem var(--primary-color));
		}

		100% {
			filter: drop-shadow(0 0 0.5rem var(--primary-color));
		}
	}
}