.button {
  font-size: var(--font-size-md);
  font-weight: 500;
  padding: var(--space-2);
  cursor: pointer;
  color: var(--text-color);
  min-height: var(--control-height);

  &:not(.active) {
    -webkit-box-shadow: var(--control-box-shadow);
    -moz-box-shadow: var(--control-box-shadow);
    box-shadow: var(--control-box-shadow);
  }

  &.active {
    -webkit-box-shadow: var(--control-box-shadow-active);
    -moz-box-shadow: var(--control-box-shadow-active);
    box-shadow: var(--control-box-shadow-active);
    border-color: var(--primary-color) !important;
  }

  &.default {
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    background-color: transparent;
  }

  &.center_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &.text {
    border: none;
  }

  &.primary {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-border-color);
    border-radius: var(--border-radius);
    color: var(--primary-contrast-color);
  }

  &.animated {
    filter: drop-shadow(0 0 0.15rem var(--primary-color));
    animation: pulse 1500ms infinite alternate;
  }

  @keyframes pulse {
    0% {
      filter: drop-shadow(0 0 0rem var(--primary-color));
    }

    100% {
      filter: drop-shadow(0 0 0.5rem var(--primary-color));
    }
  }
}
