.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 130px 1fr 130px;
  gap: 16px;
  width: 100%;
  z-index: var(--z-index-layout);
  justify-content: center;
  padding-block: 12px;
  padding-inline: 24px;
  border-bottom: solid 1px var(--border-color);

  > .menu_items {
    justify-content: center;
    min-height: var(--control-height);
  }
}

.dropdown > div > button {
  width: 100%;
}

.settings_popover {
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-of-type {
      margin-bottom: var(--space-4);
    }

    > select {
      flex: 1;
    }
  }
}
