$z-index-elements: 3;

.homepage {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--space-8) var(--space-10);
  grid-auto-flow: row;
  padding-top: var(--space-10);
  padding-inline: var(--space-10);
  max-width: 1219px;
  grid-template-areas:
    'welcome welcome'
    'about-me shortcuts';

  > .welcome {
    grid-area: welcome;
    position: relative;

    > .header {
      position: absolute;
      top: 50%;
      right: 100px;
      max-width: 35%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      font-weight: 600;
      z-index: $z-index-elements;
      text-shadow: 5px 5px 10px black;

      > h1,
      > h2 {
        margin-block: unset;
      }

      > .marked {
        z-index: $z-index-elements;
        font-size: var(--font-size-h3);
        font-weight: 600;
      }

      > .description {
        font-size: var(--font-size-h3);
        font-weight: 400;
      }
    }

    > .welcome_image {
      pointer-events: none;
      border-style: solid;
      border-width: var(--border-width);
      border-color: var(--border-color);
      border-radius: var(--border-radius-lg);
      width: 100%;
      height: auto;
    }
  }

  > .about_me {
    grid-area: about-me;
    z-index: $z-index-elements;
    font-size: var(--font-size-md);
    font-weight: 300;
    padding-left: var(--space-10);
    text-align: justify;
  }

  > .shortcuts {
    grid-area: shortcuts;
    padding-right: var(--space-10);

    > div {
      display: flex;
      flex-direction: row;
      gap: var(--space-4);
      margin-top: var(--space-4);
    }
  }

  @media screen and (max-width: 750px) {
    grid-template-areas:
      'welcome welcome'
      'about-me about-me'
      'shortcuts shortcuts';

    > .about_me,
    > .shortcuts {
      padding-inline: var(--space-10);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;

    background: radial-gradient(
      circle,
      rgba(0, 37, 68, 0.45) 0%,
      rgba(0, 140, 255, 0.2) 25%,
      rgba(0, 140, 255, 0.08) 50%,
      transparent 60%
    );

    pointer-events: none;
  }
}
