@mixin standard-app-font-size {
  font-size: clamp(13px, 1vmin, 16px);
}

@mixin large-app-font-size {
  font-size: clamp(15px, 1.2vmin, 18px);
}

@mixin extra-large-app-font-size {
  font-size: clamp(17px, 1.4vmin, 20px);
}
