@mixin standard-app-font-size {
  font-size: clamp(16px, 1vmin, 22px);
}

@mixin large-app-font-size {
  font-size: clamp(23px, 1.2vmin, 24px);
}

@mixin extra-large-app-font-size {
  font-size: clamp(25px, 1.4vmin, 28px);
}
