@mixin shared-theme {
  --font-size-h1: 2.375rem; //      ~38px
  --font-size-h2: 1.875rem; //      ~30px
  --font-size-h3: 1.5rem; //        ~24px
  --font-size-xxl: 1.375rem; //     ~22px
  --font-size-xl: 1.25rem; //       ~20px
  --font-size-lg: 1.125rem; //      ~18px
  --font-size-md: 1rem; //          ~16px
  --font-size-sm: 0.875rem; //      ~14px
  --font-size-xs: 0.75rem; //       ~12px

  --space-0: 0; //                  ~0px
  --space-1: 0.25rem; //            ~4px
  --space-2: 0.5rem; //             ~8px
  --space-3: 0.625rem; //         	~10px
  --space-4: 0.75rem; //            ~12px
  --space-5: 1rem; //               ~16px
  --space-6: 1.25rem; //            ~20px
  --space-7: 1.375rem; //         	~22px
  --space-8: 1.5rem; //             ~24px
  --space-9: 2rem; //               ~32px
  --space-10: 2.5rem; //            ~40px

  --control-height: 38px;

  --sb-size: 12px;

  --border-width: 2px;
  --border-width-secondary: 1px;
  --border-radius: 8px;
  --border-radius-lg: 24px;

  --z-index-content: 10;
  --z-index-layout: 20;
  --z-index-modal: 30;
  --z-index-popup: 40;

  --animation-time: 500ms;
}

@mixin light-theme {
  --primary-color: #3c9eee;
  --primary-color-2: #091c52;
  --primary-hover-color: #4da3e9;
  --primary-border-color: #7cc1fa;
  --primary-contrast-color: #ffffff;

  --text-color: #1c1c1c;
  --secondary-text-color: #464646;
  --placeholder-color: #bfbfbf;
  --header-color: white;
  --border-color: #f0f0f0;

  --body-bg-color: #ffffff;
  --footer-bg-color: #ebebeb;
  --layout-bg-color: #161b2e;
  --layout-text-color: white;
  --infill-bg-color: #f7f7f7;
  --infill-darker-bg-color: #f7f7f7;

  --control-bg-color: #ffffff;
  --control-disable-color: #b6b6b6;
  --control-disable-color-2: #555555;
  --control-disable-text-color: #888888;
  --control-box-shadow: 0px 0px 4px 0px rgba(191, 191, 191, 0.5);
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 0px 6px 0px rgba(0, 143, 238, 1);

  --sb-bg-color: #eef3fb;
  --sb-track-color: #f7f9fc;
  --sb-thumb-color: #b7c4d8;
  --sb-thumb-hover-color: var(--primary-color);
  --sb-thumb-active-color: var(--primary-hover-color);
  --sb-border-color: #ffffff;
  --sb-corner-color: var(--sb-track-color);
}

@mixin dark-theme {
  --primary-color: #3c9eee;
  --primary-color-2: #091c52;
  --primary-hover-color: #4caeff;
  --primary-border-color: #7cc1fa;
  --primary-contrast-color: #ffffff;

  --text-color: #ffffff;
  --secondary-text-color: #d3d7dd;
  --placeholder-color: #252e3d;
  --header-color: var(--primary-color);
  --border-color: #2d384d;

  --body-bg-color: #111420;
  --footer-bg-color: #0a0d18;
  --layout-bg-color: #101424;
  --layout-text-color: white;
  --infill-bg-color: #252c3e;
  --infill-darker-bg-color: #171c29;

  --control-bg-color: #1a2347;
  --control-disable-color: #555555;
  --control-disable-color-2: #272727;
  --control-disable-text-color: #7e7e7e;
  --control-box-shadow: unset;
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 0px 6px 0px rgba(37, 46, 61, 0.5);

  --sb-bg-color: #101b41;
  --sb-track-color: #161d35;
  --sb-thumb-color: #e4e4e4;
  --sb-thumb-hover-color: var(--primary-color);
  --sb-thumb-active-color: var(--primary-hover-color);
  --sb-border-color: #161d35;
  --sb-corner-color: var(--sb-track-color);
}

@mixin contrast-theme {
  --primary-color: #ffff00;
  --primary-color-2: #afaf25;
  --primary-hover-color: #ffffff;
  --primary-border-color: #ffffff;
  --primary-contrast-color: #000000;

  --text-color: #ffff00;
  --secondary-text-color: #ffff00;
  --placeholder-color: #ffff00;
  --header-color: var(--primary-color);
  --border-color: #ffff00;

  --body-bg-color: #000000;
  --footer-bg-color: #000000;
  --layout-bg-color: #000000;
  --layout-text-color: white;
  --infill-bg-color: #000000;
  --infill-darker-bg-color: #000000;

  --control-bg-color: #000000;
  --control-disable-color: #000000;
  --control-disable-color-2: #000000;
  --control-disable-text-color: #e2e2e2;
  --control-box-shadow: unset;
  --control-box-shadow-active: unset;
  --popup-box-shadow: unset;

  --sb-bg-color: #000000;
  --sb-track-color: #000000;
  --sb-thumb-color: #ffff00;
  --sb-thumb-hover-color: #ffffff;
  --sb-thumb-active-color: #ffffff;
  --sb-border-color: #000000;
  --sb-corner-color: #000000;
}
