@mixin shared-theme {
  --font-size-h1: 2.375rem; //      ~38px
  --font-size-h2: 1.875rem; //      ~30px
  --font-size-h3: 1.5rem; //        ~24px
  --font-size-xxl: 1.375rem; //     ~22px
  --font-size-xl: 1.25rem; //       ~20px
  --font-size-lg: 1.125rem; //      ~18px
  --font-size-md: 1rem; //          ~16px
  --font-size-sm: 0.875rem; //      ~14px
  --font-size-xs: 0.75rem; //       ~12px

  --space-0: 0; //                  ~0px
  --space-1: 0.25rem; //            ~4px
  --space-2: 0.5rem; //             ~8px
  --space-3: 0.625rem; //         	~10px
  --space-4: 0.75rem; //            ~12px
  --space-5: 1rem; //               ~16px
  --space-6: 1.25rem; //            ~20px
  --space-7: 1.375rem; //         	~22px
  --space-8: 1.5rem; //             ~24px
  --space-9: 2rem; //               ~32px
  --space-10: 2.5rem; //            ~40px

  --control-height: 38px;

  --sb-size: 12px;

  --border-width: 1px;
  --border-width-secondary: 1px;
  --border-radius: 8px;
  --border-radius-lg: 24px;

  --z-index-content: 10;
  --z-index-layout: 20;
  --z-index-modal: 30;
  --z-index-popup: 40;
  --z-index-tooltip: 50;

  --animation-time: 500ms;
}

@mixin light-theme {
  --primary-color: #0079db;
  --primary-color-2: #123b72;
  --primary-hover-color: #1f78c2;
  --primary-border-color: #5ba9e6;
  --primary-contrast-color: #ffffff;

  --text-color: #020f2e;
  --secondary-text-color: #3e67b3;
  --placeholder-color: #8d98aa;
  --header-color: #022a5e;
  --border-color: #e5e6e7;

  --body-bg-color: #ffffff;
  --footer-bg-color: #ffffff;
  --layout-bg-color: #ffffff;
  --layout-text-color: #020f2e;
  --infill-bg-color: rgb(253, 253, 253);
  --infill-darker-bg-color: #fafafa;

  --body-bg-gradient-color-1: unset;
  --body-bg-gradient-color-2: unset;
  --body-bg-gradient-color-3: unset;

  --control-bg-color: #ffffff;
  --control-bg-color-transparent: rgba(255, 255, 255, 0.72);
  --control-disable-color: #9197a0;
  --control-disable-color-2: #e1e5eb;
  --control-disable-text-color: #8993a3;
  --control-box-shadow: 0px 2px 6px 0px rgba(25, 48, 78, 0.1);
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 4px 14px 0px rgba(25, 48, 78, 0.18);

  --success-color: #159447;
  --success-shadow-color: rgba(21, 148, 71, 0.14);
  --error-color: #c93434;
  --error-shadow-color: rgba(201, 52, 52, 0.16);

  --sb-bg-color: #e8edf5;
  --sb-track-color: #f2f5f9;
  --sb-thumb-color: #b4c1d2;
  --sb-thumb-hover-color: var(--primary-color);
  --sb-thumb-active-color: var(--primary-hover-color);
  --sb-border-color: #d8e0eb;
  --sb-corner-color: var(--sb-track-color);
}

@mixin dark-theme {
  --primary-color: #3c9eee;
  --primary-color-2: #091c52;
  --primary-hover-color: #4caeff;
  --primary-border-color: #7cc1fa;
  --primary-contrast-color: #ffffff;

  --text-color: #ffffff;
  --secondary-text-color: #d3d7dd;
  --placeholder-color: #edeff1;
  --header-color: #ffffff;
  --border-color: #2d384d;

  --body-bg-color: #111420;
  --footer-bg-color: #0a0d18;
  --layout-bg-color: #101424;
  --layout-text-color: white;
  --infill-bg-color: #252c3e;
  --infill-darker-bg-color: #171c29;

  --body-bg-gradient-color-1: rgba(0, 7, 68, 0.45);
  --body-bg-gradient-color-2: rgba(0, 140, 255, 0.2);
  --body-bg-gradient-color-3: rgba(0, 140, 255, 0.08);

  --control-bg-color: #0b0f1d;
  --control-bg-color-transparent: rgba(11, 15, 29, 0.3);
  --control-disable-color: #555555;
  --control-disable-color-2: #272727;
  --control-disable-text-color: #7e7e7e;
  --control-box-shadow: unset;
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 0px 6px 0px rgba(37, 46, 61, 0.5);

  --success-color: #2edb3c;
  --success-shadow-color: rgba(94, 224, 82, 0.15);
  --error-color: #e43a3a;
  --error-shadow-color: rgba(224, 82, 82, 0.35);

  --sb-bg-color: #101b41;
  --sb-track-color: #161d35;
  --sb-thumb-color: #e4e4e4;
  --sb-thumb-hover-color: var(--primary-color);
  --sb-thumb-active-color: var(--primary-hover-color);
  --sb-border-color: #161d35;
  --sb-corner-color: var(--sb-track-color);
}

@mixin contrast-theme {
  --primary-color: #ffff00;
  --primary-color-2: #afaf25;
  --primary-hover-color: #ffffff;
  --primary-border-color: #ffffff;
  --primary-contrast-color: #000000;

  --text-color: #ffff00;
  --secondary-text-color: #ffff00;
  --placeholder-color: #ffff00;
  --header-color: var(--primary-color);
  --border-color: #ffff00;

  --body-bg-color: #000000;
  --footer-bg-color: #000000;
  --layout-bg-color: #000000;
  --layout-text-color: white;
  --infill-bg-color: #000000;
  --infill-darker-bg-color: #000000;

  --control-bg-color: #000000;
  --control-bg-color-transparent: rgba(0, 0, 0, 0.65);
  --control-disable-color: #000000;
  --control-disable-color-2: #000000;
  --control-disable-text-color: #e2e2e2;
  --control-box-shadow: unset;
  --control-box-shadow-active: unset;
  --popup-box-shadow: unset;

  --success-color: #00ff15;
  --success-shadow-color: rgba(22, 255, 1, 0.35);
  --error-color: #ff0000;
  --error-shadow-color: rgba(255, 1, 1, 0.35);

  --sb-bg-color: #000000;
  --sb-track-color: #000000;
  --sb-thumb-color: #ffff00;
  --sb-thumb-hover-color: #ffffff;
  --sb-thumb-active-color: #ffffff;
  --sb-border-color: #000000;
  --sb-corner-color: #000000;
}
