@mixin shared-theme {
  --font-size-h1: 2.375rem; //      ~38px
  --font-size-h2: 1.875rem; //      ~30px
  --font-size-h3: 1.5rem; //        ~24px
  --font-size-xxl: 1.375rem; //     ~22px
  --font-size-xl: 1.25rem; //       ~20px
  --font-size-lg: 1.125rem; //      ~18px
  --font-size-md: 1rem; //          ~16px
  --font-size-sm: 0.875rem; //      ~14px
  --font-size-xs: 0.75rem; //       ~12px

  --space-0: 0; //                  ~0px
  --space-1: 0.25rem; //            ~4px
  --space-2: 0.5rem; //             ~8px
  --space-3: 0.625rem; //         	~10px
  --space-4: 0.75rem; //            ~12px
  --space-5: 1rem; //               ~16px
  --space-6: 1.25rem; //            ~20px
  --space-7: 1.375rem; //         	~22px
  --space-8: 1.5rem; //             ~24px
  --space-9: 2rem; //               ~32px
  --space-10: 2.5rem; //            ~40px

  --control-height: 38px;

  --border-width: 2px;
  --border-radius: 8px;
  --border-radius-lg: 24px;

  --z-index-content: 10;
  --z-index-layout: 20;
  --z-index-popup: 30;

  --animation-time: 500ms;
}

@mixin light-theme {
  --primary-color: #00bfff;
  --primary-color-2: #8cc8fa;
  --primary-hover-color: #0088b6;
  --primary-border-color: #00afea;
  --primary-contrast-color: #ffffff;

  --text-color: #1c1c1c;
  --secondary-text-color: #bfbfbf;
  --placeholder-color: #bfbfbf;
  --header-color: white;
  --border-color: #eaeaeb;

  --body-bg-color: #ffffff;
  --layout-bg-color: #161b2e;
  --footer-bg-color: #ebebeb;
  --control-bg-color: #ffffff;
  --control-disable-color: #b6b6b6;
  --control-box-shadow: 0px 0px 4px 0px rgba(191, 191, 191, 0.5);
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 0px 6px 0px rgba(0, 143, 238, 1);
}

@mixin dark-theme {
  --primary-color: #3c9eee;
  --primary-color-2: #091c52;
  --primary-hover-color: #4caeff;
  --primary-border-color: #7cc1fa;
  --primary-contrast-color: #ffffff;

  --text-color: #ffffff;
  --secondary-text-color: #d3d7dd;
  --placeholder-color: #252e3d;
  --header-color: var(--primary-color);
  --border-color: #2d384d;

  --body-bg-color: #111420;
  --layout-bg-color: #101424;
  --footer-bg-color: #0a0d18;
  --control-bg-color: #1a2347;
  --control-disable-color: #1a2347;
  --control-box-shadow: unset;
  --control-box-shadow-active: 0px 0px 4px 2px var(--primary-color);
  --popup-box-shadow: 0px 0px 6px 0px rgba(37, 46, 61, 0.5);
}

@mixin contrast-theme {
  --primary-color: #ffff00;
  --primary-color-2: #afaf25;
  --primary-hover-color: #ffffff;
  --primary-border-color: #ffffff;
  --primary-contrast-color: #000000;

  --text-color: #ffff00;
  --secondary-text-color: #ffff00;
  --placeholder-color: #ffff00;
  --header-color: var(--primary-color);
  --border-color: #ffff00;

  --body-bg-color: #000000;
  --layout-bg-color: #000000;
  --footer-bg-color: #000000;
  --control-bg-color: #000000;
  --control-disable-color: #000000;
  --control-box-shadow: unset;
  --control-box-shadow-active: unset;
  --popup-box-shadow: unset;
}
