.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
  text-wrap: nowrap;
  color: var(--layout-text-color);

  :last-child {
    font-style: italic;
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
  }
}
