.logo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  user-select: none;
  text-wrap: nowrap;
  color: var(--layout-text-color);
  place-items: center;
  gap: var(--space-0) var(--space-2);
  grid-template-areas:
    'logo name'
    'logo app';

  > .image {
    grid-area: logo;
    height: 1.85rem;
  }

  > .name {
    grid-area: name;
  }

  > .app {
    grid-area: app;
    font-weight: 800;
    text-transform: uppercase;
  }
}
