.card {
  display: flex;
  flex-direction: column;

  > .date_range,
  > .types,
  > .location {
    color: var(--secondary-text-color);
  }

  > .project_title {
    text-align: justify;
  }

  > .description {
    text-align: justify;
  }

  > :nth-last-child(2) {
    margin-bottom: var(--space-2);
  }
}
