.cards_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: var(--space-9);
  container-type: inline-size;

  &:first-of-type {
    padding-bottom: var(--space-9);
  }
}
