.card {
  display: grid;
  grid-template-areas: 'icon caption' 'icon info';
  grid-template-columns: 64px 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--space-2) var(--space-9);
  padding: var(--space-9);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  scroll-margin-top: var(--space-9);
  transition: border-color 300ms;

  @container (max-width: 500px) {
    grid-template-areas: 'icon' 'caption' 'info';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-4);

    > .icon {
      justify-self: center;
    }
  }

  &.highlight {
    animation: highlight 2s ease;
  }
}

@keyframes highlight {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
  }

  20% {
    border-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
  }

  80% {
    border-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
  }

  100% {
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
  }
}
