.card {
  padding: var(--space-9);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  scroll-margin-top: var(--space-9);
  transition: border-color var(--animation-time);

  &.highlight {
    animation: highlight 4s ease;
  }
}

@keyframes highlight {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
  }

  20% {
    border-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
  }

  80% {
    border-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
  }

  100% {
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
  }
}
