.page {
  position: relative;
  height: 100%;

  > .page_title {
    font-size: var(--font-size-h1);
    font-weight: 600;
    padding-bottom: var(--space-9);
  }

  > .content {
    position: absolute;
    max-width: 1400px;
    text-align: justify;
    right: var(--space-9);
    top: 0;

    > p {
      margin-bottom: var(--space-9);
    }
  }

  > .roadmap {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
