.divider {
  &.horizontal {
    border-bottom-style: solid;
    border-bottom-width: var(--border-width-secondary);
    border-bottom-color: var(--border-color);
    margin-block: var(--space-4);
    width: 100%;
  }

  &.vertical {
    // ToDo to handle
  }
}
