$text-inline-gap: var(--space-8);
$text-block-gap: var(--space-8);

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 75vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
  grid-column-gap: 0px;
  background-color: var(--body-bg-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--popup-box-shadow);
  -moz-box-shadow: var(--popup-box-shadow);
  box-shadow: var(--popup-box-shadow);
  z-index: var(--z-index-modal);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  touch-action: pan-y;
  overscroll-behavior: contain;

  &.with_footer {
    grid-template-rows: 48px 1fr auto;
  }

  > .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-8);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-inline: $text-inline-gap;
    border-bottom-style: solid;
    border-bottom-width: var(--border-width-secondary);
    border-bottom-color: var(--border-color);

    > .title {
      flex: 1;
    }
  }

  > .modal_body {
    padding-inline: $text-inline-gap;
    padding-block: $text-block-gap;
    overflow-x: hidden;
    overflow-y: auto;
  }

  > .modal_footer {
    padding-inline: var(--space-4);
    padding-block: var(--space-4);
    border-top-style: solid;
    border-top-width: var(--border-width-secondary);
    border-top-color: var(--border-color);
  }
}
