$text-inline-gap: var(--space-4);
$text-block-gap: var(--space-4);

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: calc(100vw - 2 * var(--space-6));
  max-height: 75vh;
  background-color: var(--body-bg-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--popup-box-shadow);
  -moz-box-shadow: var(--popup-box-shadow);
  box-shadow: var(--popup-box-shadow);
  z-index: var(--z-index-modal);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  touch-action: pan-y;
  overscroll-behavior: contain;

  &.with_footer {
    grid-template-rows: 48px 1fr auto;
  }

  > .toolbar {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-8);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-left: $text-inline-gap;
    border-bottom-style: solid;
    border-bottom-width: var(--border-width-secondary);
    border-bottom-color: var(--border-color);

    > .title {
      flex: 1;
    }

    > .options {
      display: flex;
      flex-direction: row;
      gap: var(--space-2);
    }
  }

  > .modal_body {
    flex: 1 1 auto;
    padding-inline: $text-inline-gap;
    padding-block: $text-block-gap;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 0;
    width: 100%;
  }

  > .modal_footer {
    padding-inline: $text-inline-gap;
    padding-block: $text-block-gap;
    border-top-style: solid;
    border-top-width: var(--border-width-secondary);
    border-top-color: var(--border-color);
  }
}
