:root {
	--text-color: #1c1c1c;
	--layout-bg-color: #ffffff;
	--primary-color: rgb(0, 175, 234);
	--primary-border-color: rgb(255, 255, 255);
	--primary-contrast-color: rgb(255, 255, 255);
	--border-color: #4a6275;
	--border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #ffffff;
		--layout-bg-color: #020c19;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	color: var(--text-color);
	background: var(--layout-bg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	font-family: magnat, magnat Fallback;
	font-size: 22px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}