.header {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  gap: var(--space-4);
  width: 100%;
  z-index: var(--z-index-layout);
  padding-block: 12px;
  padding-inline: 24px;
  border-bottom: solid 1px var(--border-color);
  background-color: var(--layout-bg-color);
  box-shadow: var(--control-box-shadow);

  > .right_side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--layout-text-color);
    gap: var(--space-2);
  }

  .menu_items {
    min-height: var(--control-height);
    color: var(--layout-text-color);
    overflow: visible;

    .nav_button[data-nav-active='true'] {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -13px;
        left: 0;
        height: 1px;
        background-color: var(--primary-color);
        box-shadow: 0 0 0.45rem var(--primary-color);
        pointer-events: none;
        z-index: 2;
      }
    }

    @media (min-width: 1553px) {
      justify-content: center;

      &::after {
        width: 0px !important;
      }
    }
  }
}

.dropdown .nav_button {
  text-wrap: nowrap;

  &[data-nav-active='true'] {
    border-color: var(--primary-color);
    box-shadow: 0 0 0.45rem var(--primary-color);

    &::after {
      display: none;
    }
  }
}
