.extra_card {
  transition: padding-inline var(--animation-time);
  text-align: justify;

  > .menu_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    margin-top: var(--space-4);
  }

  > .lighthouse_categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-4);
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 550px) {
    > .welcome {
      text-align: center;
    }

    > .menu_buttons {
      flex-direction: column;

      > .download_cv_button {
        max-width: unset;
      }
    }
  }
}
