.extra_card {
  transition: padding-inline var(--animation-time);
  text-align: justify;

  > .menu_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    margin-top: var(--space-4);
  }
}
