.extra_card {
  transition: padding-inline var(--animation-time);
  text-align: justify;

  @media screen and (max-width: 550px) {
    text-align: center;
  }

  > .menu_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    margin-top: var(--space-4);
  }
}
