.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;

  > .submit {
    align-self: flex-start;
  }

  > .submit_error {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin: 0;
    padding: var(--space-4);
    color: var(--error-color);
    border-style: solid;
    border-color: var(--error-color);
    border-width: var(--border-width-secondary);
    border-radius: var(--border-radius);
    background-color: var(--infill-bg-color);
    font-size: var(--font-size-sm);

    > p {
      margin: 0;
    }
  }

  > .success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-6);
    color: var(--success-color);
    background-color: var(--success-shadow-color);
    border-style: solid;
    border-color: var(--success-color);
    border-width: var(--border-width-secondary);
    border-radius: var(--border-radius);
    gap: var(--space-2);

    > .success_title {
      margin: 0;
      font-size: var(--font-size-h3);
      font-weight: 400;
    }

    > .success_message {
      margin: 0;
      color: var(--secondary-text-color);
      font-size: var(--font-size-md);
    }

    > .send_next {
      width: 100%;
      margin-top: var(--space-2);
      border-color: var(--success-color);
    }
  }

  > .honeypot {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
