.date_range {
  color: var(--secondary-text-color);
}

.duty_list {
  color: var(--secondary-text-color);
  margin-right: var(--font-size-md);

  .duty {
    transform: translateX(var(--font-size-md));
  }
}
