.module {
  container-type: inline-size;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-8);

    @container (max-width: 500px) {
      .download_cv_button {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
