@use '@/styles/mixins' as *;

$flex-group-gap: 8px;

.menu_items {
  min-height: var(--control-height);
  color: var(--layout-text-color);

  > .menu_item > .nav_button[data-mode='default'] {
    border: unset;
    box-shadow: unset;
  }

  > .menu_item:not(:first-child) > .nav_button[data-mode='default'] {
    @include menu-divider($flex-group-gap);
  }

  > .more {
    box-shadow: unset;
    border-radius: unset;
  }

  @media (min-width: 1553px) {
    justify-content: center;

    &::after {
      width: 0px !important;
    }
  }
}

.dropdown .nav_button {
  text-wrap: nowrap;

  &[data-active] {
    border-color: var(--border-indicator-color);
    box-shadow: 0 0 0.45rem var(--border-indicator-shadow-color);

    &:hover {
      color: var(--border-indicator-color);
    }

    &::after {
      display: none;
    }
  }
}
