.menu_items {
  min-height: var(--control-height);
  color: var(--layout-text-color);

  @media (min-width: 1553px) {
    justify-content: center;

    &::after {
      width: 0px !important;
    }
  }
}

.dropdown .nav_button {
  text-wrap: nowrap;

  &[data-active] {
    border-color: var(--primary-color);
    box-shadow: 0 0 0.45rem var(--primary-color);

    &::after {
      display: none;
    }
  }
}
