.cards_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
  gap: var(--space-9);
  container-type: inline-size;

  > .card {
    display: flex;
    flex-direction: column;

    > .caption {
      grid-area: caption;
      font-weight: 400;
    }

    > .info {
      grid-area: info;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      > .publisher {
        font-weight: 600;
      }

      > .description {
        text-align: justify;
      }

      > .description,
      > .keywords,
      > .authors {
        margin-bottom: var(--space-2);
      }

      > .keywords,
      > .authors {
        color: var(--secondary-text-color);
        font-style: italic;
      }

      > .keywords,
      > .authors {
        color: var(--secondary-text-color);
      }
    }
  }
}
