.cards_layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
  gap: var(--space-9);
  container-type: inline-size;

  > .card {
    display: flex;
    flex-direction: column;

    @container (max-width: 500px) {
      > .header {
        text-align: center;
        padding-bottom: var(--space-4);

        > .separator {
          display: none;
        }

        > .title {
          display: block !important;
          padding-bottom: var(--space-1);
        }
      }

      > .publisher {
        text-align: center;
        padding-bottom: var(--space-4);
      }
    }

    > .header {
      padding-bottom: var(--space-2);

      > .title {
        display: inline;
        font-size: var(--font-size-lg);
        margin-block: unset;
      }
    }

    > .publisher {
      color: var(--secondary-text-color);
      font-size: var(--font-size-sm);
      border-bottom-style: solid;
      border-bottom-width: var(--border-width-secondary);
      border-bottom-color: var(--border-color);
      padding-bottom: var(--space-2);
      margin-bottom: var(--space-2);
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      > .description {
        text-align: justify;
      }

      > .description,
      > .keywords,
      > .authors {
        margin-bottom: var(--space-2);
      }

      > .keywords,
      > .authors {
        color: var(--secondary-text-color);
        text-align: justify;
        font-style: italic;
      }

      > .keywords,
      > .authors {
        color: var(--secondary-text-color);
      }
    }
  }
}
