.full_app_settings_button {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  justify-content: center;
  align-items: center;
}

.settings_popover {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    > select {
      flex: 1;
    }
  }
}
