.page_title {
	font-size: 48px;
	font-weight: 600;
	padding-bottom: var(--padding);
}

.cards_layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
	gap: var(--padding);
}