.page_title {
	font-size: var(--header-1-font-size);
	font-weight: 600;
	padding-bottom: var(--padding);
}

.cards_layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
	gap: var(--padding);
}