.page_title {
	font-size: 48px;
	font-weight: 600;
	padding-bottom: var(--padding);

	&.experience_title {
		padding-top: var(--padding);
	}
}

.cards_layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
	gap: var(--padding);

	>.card {
		padding: var(--padding);
		border-color: var(--border-color);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: 1px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		>.title {
			color: var(--primary-color);
			font-weight: 600;
		}

		>.date_range,
		>.types,
		>.location {
			opacity: 0.4;
		}

		>.institution {
			font-weight: 600;
		}

		>.duty_list {
			opacity: 0.4;

			>.duty {
				margin-left: var(--padding);
			}
		}
	}
}